.contact {

	&__input-group {
		margin: 20px 0;
	}

	input {
		font-size: 1.1rem;
	}

	textarea {
		font-size: 1.1rem;
	}
}

.left-input .input-control {
	@include atMedium {
		margin-bottom: 30px;
	}
}
