.hero {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: $headerColor;
	@include atMedium{
		height: 600px;
	}
	@include atLarge {
		height: 750px;
	}

	&__content {
		position: absolute;
		top: 47%;
		left: 5%;
		text-align: center;
		@include atSmall {
			top: 43%;
			left: 30%;
		}
		@include atMedium {
			top: 44%;
			left: 27%;
		}
		@include atLarge {
			top: 45%;
			left: 34%;
		}

		h1 {
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #FFF;
			margin-bottom: 30px;
			@include atMedium {
				font-size: 3.5rem;
				font-weight: 900;
				margin-bottom: 60px;
			}
			&::after {
				content: "";
				position: absolute;
				top: 53%;
				left: 43%;
				width: 15%;
				height: 3px;
				background-color: $lightBlue;

			}
		}
		strong {
			color: $lightBlue;
		}

	}

	img {
		position: absolute;
	}

	.bin {
		display: none;
		@include atSmall {
			display: block;
			height: 65px;
			width: 65px;
			top: 20%;
			left: 15%;
		}
		@include atMedium {
			left: 20%;
		}
		@include atLarge {
			height: 80px;
			width: 80px;
			top: 25%;
			left: 25%;
		}
	}

	.coffee {
		display: none;
		width: 70px;
		height: 70px;
		left: 10%;

		@include atMedium {
			display: block;
			bottom: 10%;
		}
		@include atLarge {
			bottom: 20%;
		}
	}

	.glass {
		display: none;
		@include atMedium {
			display: block;
			width: 110px;
			height: 68px;
			bottom: 30%;
			right: 15%;
		}

		@include atLarge {
			width: 126px;
			height: 78px;
			bottom: 20%;
			right: 20%;
		}
	}

	.headphone {
		display: none;
		@include atSmall {
			display: block;
			width: 120px;
			right: 15%;
			top: 20%;
		}
		@include atMedium {

		}
		@include atLarge {
			width: 130px;
			height: 130px;
			right: 20%;
			top: 20%;
		}
	}

	.mice {
		display: none;

		@include atSmall {
			width: 38px;
			height: 70px;
			display: block;
			right: 33%;
			bottom: 5%;
		}
		@include atMedium {
			right: 30%;
		}
		@include atLarge {
			right: 35%;
			bottom: 10%;
		}
	}

	.keyboard {
		width: 160px;
		bottom: 5%;
		left: 28%;
		@include atSmall {
			width: 200px;
			left: 36%;
		}

		@include atMedium {
			width: 280px;
			height: 110px;
			bottom: 5%;
			left: 39%;
		}
		@include atLarge {
			left: 41.5%;
			bottom: 10%;
		}
	}

	.imac {
		width: 300px;
		top: 23%;
		left: 12%;
		@include atSmall {
			top: 13%;
			left: 28%;
			width: 380px;
		}
		@include atMedium {
			width: 550px;
			height: 132px;
			top: 20%;
			left: 29%;
		}

		@include atLarge {
			width: 611px;
			height: 192px;
			top: 15%;
			left: 33%;
		}
	}

	.mackbook {
		display: none;
		@include atMedium {
			display: block;
			width: 183px;
			height: 160px;
			left: 5%;
			top: 35%;
			transform: translate(-200px, -400px) rotate(-45deg);
			opacity: 0;

			&--is-active {
				transform: translate(0) rotate(-45deg);
				opacity: 1;
			}
		}
		@include atLarge {
			width: 223px;
			height: 200px;
			top: 30%;
			left: 10%;
		}
	}

	.note {
		display: none;
		width: 76px;
		height: 112px;
		@include atSmall {
			display: block;
			left: 20%;
			bottom: 5%;
		}
		@include atMedium {
			left: 25%;
		}
		@include atLarge {
			bottom: 10%;
			left: 30%;
		}
	}
}

.imac {transform: translateY(-100%)}
.keyboard {transform: translateY(100%)}
.note {transform: translateX(-20px)}
.glass {transform: translateX(20px)}
.mice {transform: translateY(20px)}
.headphone {transform: translateX(20px)}
.bin {transform: translateY(-20px)}
.coffee {transform: translateX(-20px)}

.animate-hero {
	transition: transform 900ms linear;
	opacity: 0;

	&--is-active {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}
