
.row {
	display: flex;
	flex-wrap: wrap;

	&__col-6 {
		width: 100%;
		margin-top: 20px;
		@include atMedium {
			width: 48%;
		}
	}


	&__col-4 {
		width: 100%;
		margin-top: 20px;
		@include atSmall {
			width: 47%;
		}
		@include atMedium {
			width: 31%;

		}
		@include atLarge {
			width: 28%;
		}
	}


	&__col-3 {

		@include atSmall {
			width: 47%;
		}
		@include atMedium {
			width: 24%;
		}
		@include atLarge {
			width: 22%;
		}
	}
}

/* For Equal Height */
.equal-height > div {
	display: flex;
}

.justify-center-space {
	justify-content: center;
	@include atMedium {
		justify-content: space-between;
	}
}

.justify-space {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.margin-top-at-large {
	@include atMedium {
		margin-top: 20px;
	}
}
