.section {
	padding: 50px 0 50px;
	@include atMedium {
		padding: 50px 0 100px;
	}

	&--testimonials-bg {

	}

	&--portfolio-bg {
		background-image: url("/build/images/laptop2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
	}

	&--team-bg {
		background-image: url("/build/images/banner.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
	}

	&--gray {
		background-color: whitesmoke;
	}

	&--blue {
		background-color: $lightBlue;
	}

	&__title {
		font-size: 3rem;
		font-weight: 900;
		font-family: Oswald, sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		padding-bottom: 50px;

		strong {
			color: $lightBlue;
		}
	}
	.white {
		color: #FFF;
	}

	.gray {
		color: $headerColor;
	}

	&--white-at-large {
		background-color: $lightGray;
		@include atMedium {
			background-color: #FFF;
		}
	}
}
