.testimonials {
	position: relative;
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 1px #ccc;
	margin-top: 10px;
	@include clearfix;
	@include atMedium {
		background-color: transparent;
		margin-top: 30px;
		padding: 30px;
		box-shadow: none;
		text-align: center;
	}

	&__image {
		width: 20%;
		height: 100%;
		float: left;
		padding: 20px;
		margin-right: 10px;
		border-right: 1px solid #eee;
		@include atMedium {
			position: absolute;
			top: 0;
			left: 36%;
			width: 100px;
			padding: 0;
			float: none;
			border-right: none;
		}
	}

	img {
		border-radius: 50%;
		border: 3px solid $navHoverColor;
		@include atMedium {

		}
	}

	h2 {
		font-weight: 900;
		text-transform: uppercase;
		color: $headerColor;
		font-size: 1rem;
		margin: 20px 0 5px;
		@include atMedium {
			margin: 100px 0 10px;
			font-size: 1.5rem;
			font-weight: 400;
			color: rgba(white, 0.8);
		}
	}

	p {
		font-style: italic;
		line-height: 20px;
		@include atMedium {
			font-size: 1.2rem;
			color: rgba(white, 0.8);
			font-weight: 100;
		}
	}
}
