.wrapper {
	width: 93%;
	margin: 0 auto;
	@include atSmall {
		width: 90%;
	}
	@include atMedium {
		width: 80%;
	}
	@include atLarge {
		width: 75%;
	}
}

.wrapper--fluid {
	width: 93%;
	margin: 0 auto;
	@include atSmall {
		width: 100%;
	}
}
