
<!-- CONTACT -->
<section class="section section--contact-at-large" id="contact">
	<h1 class="section__title"><strong>Tell Us</strong> How We Can Help</h1>
	<div class="wrapper">
		<div class="row justify-space">
				<div class="row__col-6">
					<div class="contact left-input">
						<div class="contact__input-group drop">
							<input type="text" name="" value="" class="input-control" placeholder="Name">
						</div>
						<div class="contact__input-group drop">
							<input type="text" name="" value="" class="input-control"  placeholder="Email">
						</div>
						<div class="contact__input-group drop">
							<input type="text" name="" value="" class="input-control"  placeholder="Phone">
						</div>
					</div>
				</div>
				<div class="row__col-6">
					<div class="contact right-input">
						<div class="contact__input-group drop">
							<textarea name="name" rows="8" cols="80" placeholder="Say Something..."></textarea>
						</div>
						<div class="contact__input-group drop">
							<button type="submit" name="button" class="btn btn--large btn--blue">Send Message</button>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
