<footer class="footer">
	<div class="wrapper">
		<div class="row justify-space">
			<div class="row__col-4">
				<div class="footer__social-media">
					<h1>Follow Us On:</h1>
					<a href="#"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
					<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</a>
					<a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i>YouTube</a>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
					<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
				</div>
			</div>
			<div class="row__col-4">
				<div class="footer__contact">
					<h1>Contact Us Via:</h1>
					<a href="#"><i class="fa fa-home" aria-hidden="true"></i>Tampa, FL</a>
					<a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+1 571-314-8314</a>
					<a href="#"><i class="fa fa-globe" aria-hidden="true"></i>www.company.com</a>
				</div>
			</div>
			<div class="row__col-4">
				<div class="footer__subscription">
					<h1>Get Updates:</h1>
					<input type="text" name="" value="" placeholder="Type Your Email For Update">
					<button type="button" name="button" class="btn btn--blue btn--small">Submit</button>
				</div>
			</div>
		</div>
	</div>
</footer>
