<header class="header" id="header">
	<div class="header__logo">
		<h1>Zela Software Solution</h1>
		<a href="#home"><img src="/build/images/logo1.png" alt=""></a>
	</div>
	<div class="menu-icon" id="menu-icon">
		<span class="top"></span>
		<span class="middle"></span>
		<span class="bottom"></span>
	</div>
	<nav class="navbar" id="navbar">
		<ul>
			<li class="active"><a href="#home">Home</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#testimonials">Testimonials</a></li>
			<li><a href="#training">Training</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>
</header>
