<div class="hero" id="home">
	<img src="/build/images/header/imac.png" class="imac animate-hero" alt="">
	<img src="/build/images/header/bin.png" class="bin animate-hero" alt="">
	<img src="/build/images/header/coffee1.png" class="coffee animate-hero" alt="">
	<img src="/build/images/header/glass.png" class="glass animate-hero" alt="">
	<img src="/build/images/header/keyboard.png" class="keyboard animate-hero" alt="">
	<img src="/build/images/header/note.png" class="note animate-hero" alt="">
	<img src="/build/images/header/headphone.png" class="headphone animate-hero" alt="">
	<img src="/build/images/header/mackbook.png" class="mackbook animate-hero" alt="">
	<img src="/build/images/header/mice.png" class="mice animate-hero" alt="">
	<div class="hero__content">
		<h1><strong>We Bring</strong> You Creativity</h1>
		<li><a href="#portfolio" class="btn btn--blue btn--medium btn--round" id="portfolio-btn">View Portfolio</a></li>
	</div>
</div>
