<!-- PORTFOLIO -->
<section class="section section--portfolio-bg" id="portfolio">
	<h1 class="section__title white">Look At Our Latest <strong>Works</strong></h1>
	<div class="wrapper--fluid generic-content">
		<div class="row justify-center">
			<div class="row__col-3">
				<div class="portfolio flip-in">
					<div class="portfolio__image">
						<img src="build/images/portfolio/03.jpg" alt="">
					</div>
					<div class="portfolio__content">
						<div class="portfolio__source-links">
							<a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
						</div>
						<h2>Mobile Design</h2>
						<div class="portfolio__tech">
							<a href="#">html</a>
							<a href="#">css</a>
							<a href="#">JavaScript</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row__col-3">
				<div class="portfolio flip-in">
					<div class="portfolio__image">
						<img src="build/images/portfolio/06.jpg" alt="">
					</div>
					<div class="portfolio__content">
						<div class="portfolio__source-links">
							<a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
						</div>
						<h2>Mobile Design</h2>
						<div class="portfolio__tech">
							<a href="#">html</a>
							<a href="#">css</a>
							<a href="#">JavaScript</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row__col-3">
				<div class="portfolio flip-in">
					<div class="portfolio__image">
						<img src="build/images/portfolio/07.jpg" alt="">
					</div>
					<div class="portfolio__content">
						<div class="portfolio__source-links">
							<a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
						</div>
						<h2>Mobile Design</h2>
						<div class="portfolio__tech">
							<a href="#">html</a>
							<a href="#">css</a>
							<a href="#">JavaScript</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row__col-3">
				<div class="portfolio flip-in">
					<div class="portfolio__image">
						<img src="build/images/portfolio/08.jpg" alt="">
					</div>
					<div class="portfolio__content">
						<div class="portfolio__source-links">
							<a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
						</div>
						<h2>Mobile Design</h2>
						<div class="portfolio__tech">
							<a href="#">html</a>
							<a href="#">css</a>
							<a href="#">JavaScript</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
