
<!-- SERVICES -->
<section class="section section--gray" id="services">
	<h1 class="section__title">Advanced Mobile & Web <strong>Applications</strong></h1>
	<div class="wrapper generic-content">
		<div class="row equal-height justify-center margin-top-at-large">
			<div class="row__col-4">
				<div class="services fade-in">
					<a href="#"><i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i></a>
					<div class="services__content">
						<h2>E-Commerce</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
					</div>
				</div>
			</div>
			<div class="row__col-4">
				<div class="services fade-in">
					<a href="#"><i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i></a>
					<h2>UI/UX</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
			<div class="row__col-4">
				<div class="services fade-in">
					<a href="#"><i class="fa fa-tasks fa-3x" aria-hidden="true"></i></a>
					<h2>Content Management</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
			<div class="row__col-4">
				<div class="services fade-in">
					<a href="#"><i class="fa fa-wordpress fa-3x" aria-hidden="true"></i></a>
					<h2>WordPress</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
			<div class="row__col-4">
				<div class="services fade-in">
					<a href="#"><i class="fa fa-picture-o fa-3x" aria-hidden="true"></i></a>
					<h2>Graphic Design</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
			<div class="row__col-4">
				<div class="services fade-in">
					<a href="#"><i class="fa fa-binoculars fa-3x" aria-hidden="true"></i></a>
					<h2>SEO</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
		</div>
	</div>
</section>
