

<section class="section section--header-color clearfix " id="training">
	<div class="wrapper">
		<div class="training">
			<div class="training__content generic-content shrink">
				<h1>We Give Back To The Community By Offering Free <strong>Web Development Courses</strong></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a href="https://www.youtube.com/channel/UCEzbuVkoykjK1KPV2n0SWEA/videos" class="btn btn--blue btn--medium btn--round">Watch Free Courses<i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
			</div>
			<div class="training__code shrink">
				<img src="build/images/code.png" class="" alt="Coding">
			</div>
		</div>
	</div>
</section>
