<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Web Development Company</title>
	</head>
	<body>

		{{{body}}}
		<script src="/build/bundle.js" charset="utf-8"></script>
	</body>
</html>
