

<!-- <section class="section section__client">
	<h1 class="section__title">Clients</h1>
	<div class="wrapper">
		<div class="row">
			<div class="row__col-3">
				<div class="client">
					<img src="" alt="">
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- TEAM -->
<!-- <section class="section section--team-bg">
	<div class="team-bg-color-wrapper">
		<h1 class="section__title white">Our Dedicated <strong>Team</strong></h1>

		<div class="wrapper generic-content">
			<div class="row justify-space">
				<div class="row__col-4">
					<div class="team">
						<div class="team__image">
							<img src="build/images/team/team2.jpg" alt="">
						</div>
						<div class="team__content">
							<h2>Hasrat Sabit</h2>
							<h3>Lead Developer</h3>
							<p>The mind behind our creative desings The mind behind our creative desings</p>
							<div class="team__socail-media">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row__col-4">
					<div class="team">
						<div class="team__image">
							<img src="build/images/team/team2.jpg" alt="">
						</div>
						<div class="team__content">
							<h2>Hasrat Sabit</h2>
							<h3>Lead Developer</h3>
							<p>The mind behind our creative desings The mind behind our creative desings</p>
							<div class="team__socail-media">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row__col-4">
					<div class="team">
						<div class="team__image">
							<img src="build/images/team/team2.jpg" alt="">
						</div>
						<div class="team__content">
							<h2>Hasrat Sabit</h2>
							<h3>Lead Developer</h3>
							<p>The mind behind our creative desings The mind behind our creative desings</p>
							<div class="team__socail-media">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
