<header class="header">
	<div class="header__logo">
		<a href="#">Logo</a>
	</div>
	<nav class="navbar">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Testimonials</a></li>
			<li><a href="#">Clients</a></li>
			<li><a href="#">Technologies</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</header>
<div class="large-hero">

</div>



<!-- SERVICES -->
<section class="section section--gray">
	<h1 class="section__title">Services</h1>
	<p class="section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
	<div class="wrapper generic-content">
		<div class="row equal-height justify-center-space margin-top-at-large">
			<div class="row__col-3">
				<div class="services">
					<a href="#"><i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i></a>
					<div class="services__content">
						<h2>E-Commerce</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
					</div>
				</div>
			</div>
			<div class="row__col-3">
				<div class="services">
					<a href="#"><i class="fa fa-database fa-3x" aria-hidden="true"></i></a>
					<div class="services__content">
						<h2>Database</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
					</div>
				</div>
			</div>
			<div class="row__col-3">
				<div class="services">
					<a href="#"><i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i></a>
					<h2>UI/UX</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
			<div class="row__col-3">
				<div class="services">
					<a href="#"><i class="fa fa-mobile fa-4x" aria-hidden="true"></i></a>
					<h2>Mobile App</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
		</div>
		<div class="row equal-height justify-center-space margin-top-at-large">
			<div class="row__col-3">
				<div class="services">
					<a href="#"><i class="fa fa-tasks fa-3x" aria-hidden="true"></i></a>
					<h2>Optimization</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
			<div class="row__col-3">
				<div class="services">
					<a href="#"><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i></a>
					<h2>Preformance</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
			<div class="row__col-3">
				<div class="services">
					<a href="#"><i class="fa fa-picture-o fa-3x" aria-hidden="true"></i></a>
					<h2>Graphic Design</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
			<div class="row__col-3">
				<div class="services">
					<a href="#"><i class="fa fa-binoculars fa-3x" aria-hidden="true"></i></a>
					<h2>SEO</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- PORTFOLIO -->
<section class="section section--portfolio-bg">
	<h1 class="section__title white">Portfolio</h1>
	<p class="section__description white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
	<div class="wrapper--fluid generic-content">
		<div class="row justify-center">
			<div class="row__col-3">
				<div class="portfolio">
					<div class="portfolio__image">
						<img src="build/images/portfolio/03.jpg" alt="">
					</div>
					<div class="portfolio__content">
						<a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
						<h2>Mobile Design</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
					</div>
				</div>
			</div>
			<div class="row__col-3">
				<div class="portfolio">
					<div class="portfolio__image">
						<img src="build/images/portfolio/06.jpg" alt="">
					</div>
					<div class="portfolio__content">
						<a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
						<h2>Mobile Design</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
					</div>
				</div>
			</div>
			<div class="row__col-3">
				<div class="portfolio">
					<div class="portfolio__image">
						<img src="build/images/portfolio/07.jpg" alt="">
					</div>
					<div class="portfolio__content">
						<a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
						<h2>Mobile Design</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
					</div>
				</div>
			</div>
			<div class="row__col-3">
				<div class="portfolio">
					<div class="portfolio__image">
						<img src="build/images/portfolio/08.jpg" alt="">
					</div>
					<div class="portfolio__content">
						<a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
						<h2>Mobile Design</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- TESTIMONIALS -->
<section class="section section--testimonials-bg section--gray">
	<h1 class="section__title">Testimonials</h1>
	<p class="section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
	<div class="wrapper generic-content">
		<div class="row justify-space">
			<div class="row__col-4">
				<div class="testimonials">
					<div class="testimonials__image">
						<img src="build/images/team/team-1.jpg" alt="">
					</div>
					<div class="testimonials__content">
						<h2>John Doe</h2>
						<p><q cite="">Lorem ipsum dolor sit amet, consectetur adipisicing elit,  Ut enim ad minim veniam</q></p>
					</div>
				</div>
			</div>
			<div class="row__col-4">
				<div class="testimonials">
					<div class="testimonials__image">
						<img src="build/images/team/team-1.jpg" alt="">
					</div>
					<div class="testimonials__content">
						<h2>John Doe</h2>
						<p><q cite="">Lorem ipsum dolor sit amet, consectetur adipisicing elit,  Ut enim ad minim veniam</q></p>
					</div>
				</div>
			</div>
			<div class="row__col-4">
				<div class="testimonials">
					<div class="testimonials__image">
						<img src="build/images/team/team-1.jpg" alt="">
					</div>
					<div class="testimonials__content">
						<h2>John Doe</h2>
						<p><q cite="">Lorem ipsum dolor sit amet, consectetur adipisicing elit,  Ut enim ad minim veniam</q></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="section section__client">
	<h1 class="section__title">Clients</h1>
	<p class="section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
	<div class="wrapper">
		<div class="row">
			<div class="row__col-3">
				<div class="client">
					<img src="" alt="">
				</div>
			</div>
		</div>
	</div>
</section> -->



<!-- TEAM -->
<section class="section section--team-bg">
	<div class="team-bg-color-wrapper">
		<h1 class="section__title white">Team</h1>
		<p class="section__description white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
		<div class="wrapper generic-content">
			<div class="row justify-space">
				<div class="row__col-4">
					<div class="team">
						<div class="team__image">
							<img src="build/images/team/team2.jpg" alt="">
						</div>
						<div class="team__content">
							<h2>Hasrat Sabit</h2>
							<h3>Lead Developer</h3>
							<p>The mind behind our creative desings The mind behind our creative desings</p>
							<div class="team__socail-media">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row__col-4">
					<div class="team">
						<div class="team__image">
							<img src="build/images/team/team2.jpg" alt="">
						</div>
						<div class="team__content">
							<h2>Hasrat Sabit</h2>
							<h3>Lead Developer</h3>
							<p>The mind behind our creative desings The mind behind our creative desings</p>
							<div class="team__socail-media">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row__col-4">
					<div class="team">
						<div class="team__image">
							<img src="build/images/team/team2.jpg" alt="">
						</div>
						<div class="team__content">
							<h2>Hasrat Sabit</h2>
							<h3>Lead Developer</h3>
							<p>The mind behind our creative desings The mind behind our creative desings</p>
							<div class="team__socail-media">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- CONTACT -->
<section class="section section--contact-bg">
	<h1 class="section__title">Contact</h1>
	<p class="section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
	<div class="wrapper">
		<div class="row justify-space">
			<div class="row__col-3">
				<div class="right-inputs">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9332.263774885425!2d-82.50680388698362!3d27.96106433478127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c3a493cd0f05%3A0x91cdfa8e1b2a964c!2s2901+N+Dale+Mabry+Hwy%2C+Tampa%2C+FL+33607!5e0!3m2!1sen!2sus!4v1494397236541" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row__col-3">
				<div class="left-inputs">
					<input type="text" name="" value="" placeholder="Name">
					<input type="text" name="" value="" placeholder="Email">
					<input type="text" name="" value="" placeholder="Phone">
				</div>
			</div>
			<div class="row__col-3">
				<div class="right-inputs">
					<textarea name="name" rows="8" cols="80"></textarea>
					<button type="submit" name="button">Submit</button>
				</div>
			</div>
		</div>
	</div>
</section>

<footer></footer>
