<div class="large-hero">
	<header class="header">
		<div class="header__logo">
			<a href="#">Company Logo</a>
		</div>
		<nav class="navbar">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">Clients</a></li>
				<li><a href="#">Technologies</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
</div>

<section class="page-section">
	<h1 class="page-section__title">Services</h1>
	<p class="page-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<div class="wrapper">
		<div class="row">
			<div class="row__col-3">
				<div class="services">
					<img src="" alt="">
					<h2>Service Name</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
				</div>
			</div>
			<div class="row__col-3">
				<div class="services">
					<img src="" alt="">
					<h2>Service Name</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
				</div>
			</div>
			<div class="row__col-3">
				<div class="services">
					<img src="" alt="">
					<h2>Service Name</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
				</div>
			</div>
			<div class="row__col-3">
				<div class="services">
					<img src="" alt="">
					<h2>Service Name</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section">
	<h1 class="page-section__title">Portfolio</h1>
	<p class="page-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<div class="wrapper">
		<div class="row">
			<div class="row__col-3">
				<div class="portfolio">
					<img src="" alt="">
					<div class="portfolio__content">
						<h2>Service Name</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section">
	<h1 class="page-section__title">Clients</h1>
	<p class="page-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<div class="wrapper">
		<div class="row">
			<div class="row__col-3">
				<div class="client">
					<img src="" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section">
	<h1 class="page-section__title">Team</h1>
	<p class="page-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<div class="wrapper">
		<div class="row">
			<div class="row__col-3">
				<div class="team">
					<img src="" alt="">
					<div class="team__content">
						<h2>Member Name</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
						<div class="team__socail-media">
							<a href="#">twitter</a>
							<a href="#">Facebook</a>
							<a href="#">LinkedIn</a>
							<a href="#">Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="page-section">
	<h1 class="page-section__title">Testimonials</h1>
	<p class="page-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<div class="wrapper">
		<div class="row">
			<div class="row__col-4">
				<div class="testimonials">
					<img src="" alt="">
					<div class="testimonials__content">
						<h2>John Doe</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section">
	<h1 class="page-section__title">Contact</h1>
	<p class="page-section__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<div class="wrapper">
		<div class="row">
			<div class="row__col-6">
				<div class="left-inputs">
					<input type="text" name="" value="" placeholder="Name">
					<input type="text" name="" value="" placeholder="Email">
					<input type="text" name="" value="" placeholder="Phone">
				</div>
			</div>
			<div class="row__col-6">
				<div class="right-inputs">
					<textarea name="name" rows="8" cols="80"></textarea>
					<button type="submit" name="button">Submit</button>
				</div>
			</div>
		</div>
	</div>
</section>

<footer></footer>
