<div class="large-hero">
	<header class="header">
		<div class="header__logo">
			<a href="#">Company Logo</a>
		</div>
		<nav class="navbar">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">Clients</a></li>
				<li><a href="#">Technologies</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
</div>
