$headerColor: #323a4e;
$navFont: Montserrat, sans-serif;
$navHoverColor: #daa520;
$lightGray: #e5e5e5;
$lightBlue: #4CAEE3;
$darkBlue: #35799e;
$genericColor: #7c8f9e;
$turkoiz: #2c9c91;
$oswald: Oswald, sans-serif;
$source: 'Source Sans Pro', sans-serif;
